<div class="main-sidebar">
    <div class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview {% if module is defined and module == 'project' %}active{% endif %}">
                <a href="{{ path('ansible_wui_project_homepage') }}">
                    <i class="fa fa-archive"></i>
                    <span>Projects</span>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="treeview {% if module is defined and module == 'user' %}active{% endif %}">
                    <a href="{{ path('ansible_wui_user_list') }}">
                        <i class="fa fa-user"></i>
                        <span>Users</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>