{% extends ':Layout:layout.html.twig' %}

{% set module = 'client' %}

{% block content_title %}
    Clients
{% endblock %}

{% block content_body %}
    <div class="box box-primary">
        <div class="box-header">
            {% if entity is null %}New Client{% else %}{{ entity.name }}{% endif %}
        </div>
        <div class="box-body">
            {{ form_start(form) }}
                {{ form_row(form.name) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}